<section class="contact-hero">
    <h1>Contáctanos</h1>
    <p>Estamos aquí para ayudarte. ¡Escríbenos!</p>
</section>
  
<section class="contact-cards">
    <mat-card class="contact-card">
      <mat-icon>location_on</mat-icon>
      <h2>Nuestra Ubicación</h2>
      <p>Avenida Principal 123, Aguascalientes, México</p>
    </mat-card>
    <mat-card class="contact-card">
      <mat-icon>phone</mat-icon>
      <h2>Teléfono</h2>
      <p>+52 449 123 4567</p>
    </mat-card>
    <mat-card class="contact-card">
      <mat-icon>email</mat-icon>
      <h2>Correo</h2>
      <p>contacto&#64;gymapp.com</p>
    </mat-card>
</section>